[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "==1.27.50"
beautifulsoup4 = "==4.11.1"
boto3 = "==1.26.50"
cdktf = "==0.20.2"
cdk8s = "==2.68.18"
constructs = "==10.0.130"
docker = "==4.4.1"
exceptiongroup = "==1.1.0"
GitPython = "==3.1.24"
hvac = "==0.11.2"
invoke = "==1.5.0"
jinja2 = "==3.0.1"
kubernetes = "==12.0.1"
pygithub = "==1.55"
pylint = "==2.12.2"
pyOpenSSL = "==22.1.0"
python-ldap = "==3.4.4"
python-on-whales = "==0.61.0"
pyyaml = "==5.3.1"
requests = "==2.26.0"
slack_sdk = "==3.10.0"
tomli = "==2.0.1"
zipp = "==3.15.0"

[dev-packages]
black = "==22.3.0"
dictdiffer = "==0.9.0"
ipdb = "==0.13.9"
pylint = "==2.12.2"
pytest = "==6.2.5"
pytest-xdist = "==3.0.2"

[requires]
python_version = "3.11"
