invoke==2.2.0
jinja2==3.1.4
pipenv==2024.4.0
requests==2.32.3
setuptools==75.5.0
awscli==1.36.1
beautifulsoup4==4.12.3
boto3==1.35.60
cdktf==0.20.10
cdk8s==2.69.15
constructs==10.4.2
docker==7.1.0
exceptiongroup==1.2.2
GitPython==3.1.43
hvac==2.3.0
kubernetes==31.0.0
pygithub==2.5.0
pyOpenSSL==24.2.1
python-on-whales==0.73.0
pyyaml==6.0.2
slack_sdk==3.33.3
tomli==2.1.0
zipp==3.21.0