{
  "language": "python",
  "app": "export CHECKPOINT_DISABLE=true && python main.py {{ cluster_name_alias }} {{ stack }}",
  "terraformProviders": [
    {
      "name": "proxmox",
      "source": "Telmate/proxmox",
      "version": "2.9.13"
    },
    {
      "name": "kubernetes",
      "source": "hashicorp/kubernetes",
      "version": "2.18.1"
    },
    {
      "name": "helm",
      "source": "hashicorp/helm",
      "version": "2.9.0"
    },
    {
      "name": "azurerm",
      "source": "hashicorp/azurerm",
      "version": "3.51.0"
    },
    {
    "name": "random",
    "source": "hashicorp/random",
    "version": "3.5.1"
    }
  ],
  "terraformModules": [],
  "codeMakerOutput": "imports",
  "projectId": "a2eadd6a-eda8-4862-b43d-6d821eeddb58"
}
