{
  "language": "python",
  "app": "export CHECKPOINT_DISABLE=true && python main.py {{ tenant }} {{ stack }}",
  "terraformProviders": [],
  "terraformModules": [],
  "codeMakerOutput": "imports",
  "projectId": "a2eadd6a-eda8-4862-b43d-6d821eeddb59"
}
